.header {
  background-color: black;
  color: white;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header h1{
  padding-top: 1.5rem;
}
.navbar {
  position: absolute;
  right: 5%;
}

nav ul{
  display: flex;
}

nav li{
  margin-left: 2rem;
  margin-top: 3rem;
  cursor:pointer;
}

.comp-name{
  display: flex;
}

.comp-name img{
  border-radius: 50%;
  margin-right: 2rem;
}

.comp-name h1{
  align-items: center;
}